.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #0d1117;
}

.parrafo_principal {
    color: #fff;
    font-size: 32px;
    margin-left: 20px;
}

.cuadros-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
}

.parte-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-derecha {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.container-grande {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.container-filtros {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-ordenes {
    flex: 1;
}
