.vertical-nav {
    width: 260px;
    height: 100%;
    background-color: #131c2b;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 92vh;
}

.vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 25px 0 0;
    flex-grow: 0;
}

.vertical-nav li {
    margin-bottom: 20px;
}

.vertical-nav a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.vertical-nav a:hover {
    background-color: #6a788d;
    color:#2be4ac;
}

.user-info {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #2a3a4d;
    display: flex;
    align-items: center;
    gap: 10px;
}


.user-info img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info div p:first-child {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.user-info div p:last-child {
    font-size: 13px;
    color: #9ca3af;
    margin: 0;
}

.user-role {
    font-size: 13px;
    color: #9ca3af; /* mismo color oscuro */
    margin: 0;
}

.logout-button {
    margin-top: 3px;
    background: none;
    border: none;
    padding: 0;
    color: #9ca3af; /* igual al rol */
    font-size: 13px; /* igual al rol */
    cursor: pointer;
    text-align: left;
}

.logout-button:hover {
    color: #2be4ac; /* opcional: mismo hover del menú */
}
